.navbar-nav > li > .nav-item {     background-color: #010101 !important;  }

.dropdown-item:hover {
	background-color: #010101 !important;
	transition: all 1s ease-in-out;
}

@media only screen and (max-width: 500px){
        .a{
          text-align: center;
        }
      }

a.custom-card,
a.custom-card:hover {
	color: inherit;
}

.details {
	font-size: 22px;
}

.fontSize {
	font-size: 26px;
}

.bgDetails {
	background-color: black;
}

.d{
	line-height: 250%;
}

.e{
	line-height: 400%;
}
